{% extends "index.html" %}

{% block titulo %}  Departamento {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/formulario.css'  %}"> {% endblock %} 

{% block contenido %}
<section class="form-container">
    <div class="form-header">
        <h1> Edición de Empleados </h1>
    </div>

    <form method="POST" id="form-cargo" class="form">
        {% csrf_token %}
        {{empleadoForm.as_p}}
        <button style="background:rgb(17, 139, 64);border-radius:5px;padding:2px" type="submit" href="{% url 'empleado' %}" > Actualizar </button>

    </form>

</section>

{% endblock %}