.form-container {
    width: 800px;
    max-width: 100%;
    min-width: 240px;
    background-color: var(--boton-secundary);
    border-radius: 10px;
    box-shadow: 0px 5px 16px 0px var(--primary-color);
    overflow: hidden;
    color: var(--font-color-reverse);
    font-weight: 900;
    margin: 0 auto;
  }
  .form-header {
    background-color:rgba(219, 156, 224, 0.979) ;
    padding: 1px;
    text-align: center;
    color: black;
    border-bottom: 5px solid var(--font-color-reverse);
  }
  .form {
    padding: 5px 10px;
  }
  
  .form-group{
    display: block;
    width: 100%;
     padding: 5px;
     margin: 5px;
     font-size: 1rem;
     border: 1px solid #ccc;
     border-radius: 5px;
  }
  .form label {
    margin: 5px auto;
    display: block;
    
  }
  .form-group *::placeholder {
    color: var(--primary-color);
  
  }
  .form-check input[type="checkbox"] {
    margin: 15px auto;
  }
  .form button {
    display: block;
    width: 100%;
    padding: 8px;
    background: var(--boton-success);
    border-radius: 10px;
    color: var(--boton-warning);
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
  }
  .form button:hover {
    background-color: var(--boton-warning);
    color:var(--font-color-reverse)
  }
  
  .table-responsive {
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
  }
  .cosulta-est{
    width: 90%;
  }
  .consulta-est th {
    color:ghostwhite;
    font-size: 20px;
  }
  .consulta-est th,td{
    width: 29%;
    text-align: center;
  }
  .boton{
    text-align: center;
    background-color: chartreuse;
    text-decoration: double;
    box-sizing: border-box;
  }

